<div id="login-form-container">
	<form method="post">
		<div id="facebook-login-button"> LOGIN WITH <b> FACEBOOK </b> </div>
		<input type="email" name="email" class="login-input" placeholder="Email Address"></input>
		<input class="login-input" type="password" name="password" placeholder="Password"></input>
		<button id="login-button" class="login-submit">Login</button>
		<div id="forgot-password"> Forgot password? </div>
		<div id="register-button"> NOT A MEMBER? REGISTER </div>
	</form>
</div>